mixin advantages()
  +b('section').advantages
    +b.container.pos-relative
      +b.advantages__right-text
        +e('hr')
        +e('span') более 2564 постоянных клиентов
      +b('h2').advantages-left-head.adva-mob Преимущества работы с нами словами ведущих партнеров
      +b.advantages-left
        +b('h2').advantages-left-head.adva-pc Преимущества работы с нами словами ведущих партнеров
        +b.advantages-slick.jsAdvantagesFor
          +e.slide-block
            +e('p').slide-block__fio Дмитренко Анна Александровна
            +e('p').slide-block__post директор ООО“Дайнего”
            +e('p').slide-block__text 1Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
              | nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            +e('p').slide-block__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              | totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              | sunt explicabo. Nemo enim
          +e.slide-block
            +e('p').slide-block__fio Дмитренко Анна Александровна
            +e('p').slide-block__post директор ООО“Дайнего”
            +e('p').slide-block__text 2Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
              | nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            +e('p').slide-block__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              | totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              | sunt explicabo. Nemo enim
          +e.slide-block
            +e('p').slide-block__fio Дмитренко Анна Александровна
            +e('p').slide-block__post директор ООО“Дайнего”
            +e('p').slide-block__text 3Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
              | nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            +e('p').slide-block__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              | totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              | sunt explicabo. Nemo enim
      +b.advantages-right.jsAdvantagesNav
        +b.for-slick.pos-relative
            +e('img')(src='assets/images/advantages_slide_image.png' alt='').photo
            +e('img')(src='assets/images/advantages_fon_2.png' alt='').dots
        +b.for-slick.pos-relative
          +e('img')(src='assets/images/advantages_slide_image.png' alt='').photo
          +e('img')(src='assets/images/advantages_fon_2.png' alt='').dots
        +b.for-slick.pos-relative
          +e('img')(src='assets/images/advantages_slide_image.png' alt='').photo
          +e('img')(src='assets/images/advantages_fon_2.png' alt='').dots
