mixin partners()
  +b('section').partners
    +b.container
      +b.partners-head
        +e('h2').head Наши партнеры
        +e('p').comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      +b.partners-slider.jsPartnersSlider
        +e('img')(src='assets/images/partners_1.png' alt='').image
        +e('img')(src='assets/images/partners_2.png' alt='').image
        +e('img')(src='assets/images/partners_3.png' alt='').image
        +e('img')(src='assets/images/partners_4.png' alt='').image
        +e('img')(src='assets/images/partners_1.png' alt='').image
        +e('img')(src='assets/images/partners_2.png' alt='').image
        +e('img')(src='assets/images/partners_3.png' alt='').image
        +e('img')(src='assets/images/partners_4.png' alt='').image
