mixin news()
  +b('section').news
    +b.container.pos-relative
      +b('img')(src='assets/images/circle.png' alt='').news__circle-top-left
      +b('img')(src='assets/images/circle.png' alt='').news__circle-right
      +b('h2').news__head.pos-relative Lorem ipsum dolor sit amet
      +b('p').news__comment.pos-relative Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat.
      +b.news-block.pos-relative
        +b.news-item.jsNewsFlag
          +e('h3').head Как заполнять налоговую диклорацию правильно и быстро?
          +e('hr').line
          +e.content
            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              | ut aliquip ex ea commodo consequat.
            +b('p') Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              | nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              | doloremque laudantium, totam rem aperiam. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          +e('a')(href='#').link Читать далее
          +e.data
            +e('span').data__time 12 июн в 13:21
            +e('span').data__comments 20
            +e('span').data__views 450
        +b.news-item.jsNewsFlag
          +e('h3').head Как заполнять налоговую диклорацию правильно и быстро?
          +e('hr').line
          +e.content
            +b('img')(src='assets/images/news_image.png' alt='')
            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              | ut aliquip ex ea commodo consequat.
          +e('a')(href='#').link Читать далее
          +e.data
            +e('span').data__time 12 июн в 13:21
            +e('span').data__comments 20
            +e('span').data__views 450
        +b.news-item.jsNewsFlag
          +e('h3').head Как заполнять налоговую диклорацию правильно и быстро?
          +e('hr').line
          +e.content
            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              | ut aliquip ex ea commodo consequat.
            +b('p') Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              | nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              | doloremque laudantium, totam rem aperiam. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          +e('a')(href='#').link Читать далее
          +e.data
            +e('span').data__time 12 июн в 13:21
            +e('span').data__comments 20
            +e('span').data__views 450
        +b.news-item.jsNewsFlag
          +e('h3').head Как заполнять налоговую диклорацию правильно и быстро?
          +e('hr').line
          +e.content
            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              | ut aliquip ex ea commodo consequat.
            +b('p') Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              | nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              | doloremque laudantium, totam rem aperiam. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          +e('a')(href='#').link Читать далее
          +e.data
            +e('span').data__time 12 июн в 13:21
            +e('span').data__comments 20
            +e('span').data__views 450
        +b.news-item.jsNewsFlag
          +e('h3').head Как заполнять налоговую диклорацию правильно и быстро?
          +e('hr').line
          +e.content
            +b('img')(src='assets/images/news_image.png' alt='')
            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              | ut aliquip ex ea commodo consequat.
          +e('a')(href='#').link Читать далее
          +e.data
            +e('span').data__time 12 июн в 13:21
            +e('span').data__comments 20
            +e('span').data__views 450
        +b.news-item.jsNewsFlag
          +e('h3').head Как заполнять налоговую диклорацию правильно и быстро?
          +e('hr').line
          +e.content
            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              | ut aliquip ex ea commodo consequat.
            +b('p') Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              | nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              | doloremque laudantium, totam rem aperiam. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          +e('a')(href='#').link Читать далее
          +e.data
            +e('span').data__time 12 июн в 13:21
            +e('span').data__comments 20
            +e('span').data__views 450
        +b.news-item.jsNewsFlag
          +e('h3').head Как заполнять налоговую диклорацию правильно и быстро?
          +e('hr').line
          +e.content
            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              | ut aliquip ex ea commodo consequat.
            +b('p') Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              | nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              | doloremque laudantium, totam rem aperiam. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          +e('a')(href='#').link Читать далее
          +e.data
            +e('span').data__time 12 июн в 13:21
            +e('span').data__comments 20
            +e('span').data__views 450
        +b.news-item.jsNewsFlag
          +e('h3').head Как заполнять налоговую диклорацию правильно и быстро?
          +e('hr').line
          +e.content
            +b('img')(src='assets/images/news_image.png' alt='')
            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              | ut aliquip ex ea commodo consequat.
          +e('a')(href='#').link Читать далее
          +e.data
            +e('span').data__time 12 июн в 13:21
            +e('span').data__comments 20
            +e('span').data__views 450
      +b('button').btn.jsShowNews Все новости
