mixin service-packages()
  +b('section').service-packages
    +b.container
      +b('h2').service-packages__head Предлагаем следующие пакеты услуг
      +b('p').service-packages__comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        | laboris nisi ut aliquip ex ea commodo consequat.
      +b.service-packages-slider.jsServiceSlider
        +e.item
          +e('h3').item__head усн<br> доходы
          +e('img')(src='assets/images/service-packages-slider.png' alt='').item__image
          +e('span').item__num 2 968 ₽
            +e('span') мес
          +e('p').item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            | ut labore et dolore magna aliqua.
          +e('button').item__btn Заказать
        +e.item
          +e('h3').item__head усн<br> доходы
          +e('img')(src='assets/images/service-packages-slider.png' alt='').item__image
          +e('span').item__num 2 968 ₽
            +e('span') мес
          +e('p').item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            | ut labore et dolore magna aliqua.
          +e('button').item__btn Заказать
        +e.item
          +e('h3').item__head усн<br> доходы
          +e('img')(src='assets/images/service-packages-slider.png' alt='').item__image
          +e('span').item__num 2 968 ₽
            +e('span') мес
          +e('p').item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            | ut labore et dolore magna aliqua.
          +e('button').item__btn Заказать
        +e.item.border-none
          +e('h3').item__head усн<br> доходы
          +e('img')(src='assets/images/service-packages-slider.png' alt='').item__image
          +e('span').item__num 2 968 ₽
            +e('span') мес
          +e('p').item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            | ut labore et dolore magna aliqua.
          +e('button').item__btn Заказать
        +e.item
          +e('h3').item__head усн<br> доходы
          +e('img')(src='assets/images/service-packages-slider.png' alt='').item__image
          +e('span').item__num 2 968 ₽
            +e('span') мес
          +e('p').item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            | ut labore et dolore magna aliqua.
          +e('button').item__btn Заказать
        +e.item
          +e('h3').item__head усн<br> доходы
          +e('img')(src='assets/images/service-packages-slider.png' alt='').item__image
          +e('span').item__num 2 968 ₽
            +e('span') мес
          +e('p').item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            | ut labore et dolore magna aliqua.
          +e('button').item__btn Заказать
        +e.item
          +e('h3').item__head усн<br> доходы
          +e('img')(src='assets/images/service-packages-slider.png' alt='').item__image
          +e('span').item__num 2 968 ₽
            +e('span') мес
          +e('p').item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            | ut labore et dolore magna aliqua.
          +e('button').item__btn Заказать
        +e.item
          +e('h3').item__head усн<br> доходы
          +e('img')(src='assets/images/service-packages-slider.png' alt='').item__image
          +e('span').item__num 2 968 ₽
            +e('span') мес
          +e('p').item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            | ut labore et dolore magna aliqua.
          +e('button').item__btn Заказать
      +b('a')(href='#').service-packages__see-all Посмотреть все тарифы
